
  .nav-bar {
    margin: 0px ,10px;
    padding: 0px , 5px;
   
    width: 1900px;
    height: 120px;
    background-color:rgb(85, 87, 90);
    color: white;
    text-align: center;
 }

/* header tag*/
header{
   
    font-size: 35px;
    color: rgb(100, 241, 35);
    
    font-weight: 650;
    font-family:  Georgia, serif;
    text-align: center;
}