


h2{
    margin: 10px;
    font-family: 'Fira Sans Condensed';
    color: lightgrey;
}

.table-wrapper{
   width: 1200px;
}


table, th , td{
    margin: 10px;
    padding: 15px;

    border: 1px solid black;
    border-collapse:collapse;
    font-size: 21px;
    text-align : center;
    font-family: 'Fira Sans Condensed';
    font-weight: normal;
    color: lightgrey;
  }





td:hover {
    background-color: #f5f5f5;
}



.heading{
  
    background-color: darkcyan;
    color: whitesmoke;
} 








@media only screen and (max-device-width: 480px)		/* styles for mobile browsers smaller than 480px; (iPhone) */
  {
  
    table {
        width: 100%
    }

    

	}


@media only screen and (device-width:768px)		/* default iPad screens */
	{
      
        table {
            width: 100%
        }
    
    }
    
    

    
    @media (min-width:961px) 			/* tablet, landscape iPad, lo-res laptops ands desktops */
        {
            table {
                width: 100%
            }
        
    
    }
    
    
    
  
    
        
   @media only screen and (min-width: 1140px)     /*  ipad pro 	*/
    {
        table {
            width: 100%
        }
    

    }