

<div   class="table-wrapper" >
<div class="row"> 
        <div class="col-lg-12 col-sm-12" >
        
                <table>
                        <caption>Koinex</caption>
                
                    <tr class="heading">
                      <th> Coin </th>
                      <th> Price </th>
                      <th> Highest Bid </th>
                      <th> Lowest ask </th>
                      <th> Per Change </th>
                      <th> Vol(24hr) </th>
                      
                    </tr>
                   <!-- Green :179F10  Red : B95B65 -->
                    <tr >
                        
                            <th>{{varKoinex?.stats.inr.ETH.currency_short_form}} (Rs)</th>
                            <td>{{ varKoinex?.stats.inr.ETH.last_traded_price  }}</td>
                            <td>{{ varKoinex?.stats.inr.ETH.highest_bid }}</td>
                            <td>{{ varKoinex?.stats.inr.ETH.lowest_ask }}</td>
                            <td [ngStyle]="{'background-color': varKoinex?.stats.inr.ETH.per_change > 0 ? '#179F10':'#B95B65'}">
                                {{ varKoinex?.stats.inr.ETH.per_change | number : '1.1-2' }}
                                
                            </td>   <!--1digit before and 1 to 2 digit after-->
                            <td>{{ varKoinex?.stats.inr.ETH.vol_24hrs }}</td>

                        </tr>
                          
                        <tr >
                        
                                <th>{{varKoinex?.stats.inr.BTC.currency_short_form}} (Rs)</th>
                                <td>{{ varKoinex?.stats.inr.BTC.last_traded_price  }}</td>
                                <td>{{ varKoinex?.stats.inr.BTC.highest_bid }}</td>
                                <td>{{ varKoinex?.stats.inr.BTC.lowest_ask }}</td>
                                <td [ngStyle]="{'background-color': varKoinex?.stats.inr.BTC.per_change > 0 ? '#179F10':'#B95B65'}">
                                    {{ varKoinex?.stats.inr.BTC.per_change | number : '1.1-2' }}
                                    
                                </td>   <!--1digit before and 1 to 2 digit after-->
                                <td>{{ varKoinex?.stats.inr.BTC.vol_24hrs }}</td>
                                
                        </tr>

                        <tr >
                        
                                <th>{{varKoinex?.stats.inr.LTC.currency_short_form}} (Rs)</th>
                                <td>{{ varKoinex?.stats.inr.LTC.last_traded_price  }}</td>
                                <td>{{ varKoinex?.stats.inr.LTC.highest_bid }}</td>
                                <td>{{ varKoinex?.stats.inr.LTC.lowest_ask }}</td>
                                <td [ngStyle]="{'background-color': varKoinex?.stats.inr.LTC.per_change > 0 ? '#179F10':'#B95B65'}">
                                    {{ varKoinex?.stats.inr.LTC.per_change | number : '1.1-2' }}
                                    
                                </td>   <!--1digit before and 1 to 2 digit after-->
                                <td>{{ varKoinex?.stats.inr.LTC.vol_24hrs }}</td>
                                
                            </tr>



                            <tr >
                        
                                    <th>{{varKoinex?.stats.inr.XRP.currency_short_form}} (Rs)</th>
                                    <td>{{ varKoinex?.stats.inr.XRP.last_traded_price  }}</td>
                                    <td>{{ varKoinex?.stats.inr.XRP.highest_bid }}</td>
                                    <td>{{ varKoinex?.stats.inr.XRP.lowest_ask }}</td>
                                    <td [ngStyle]="{'background-color': varKoinex?.stats.inr.XRP.per_change > 0 ? '#179F10':'#B95B65'}">
                                        {{ varKoinex?.stats.inr.XRP.per_change | number : '1.1-2' }}
                                        
                                    </td>   <!--1digit before and 1 to 2 digit after-->
                                    <td>{{ varKoinex?.stats.inr.XRP.vol_24hrs }}</td>
                                    
                                </tr>


                                <!-- Trx -->
                                <tr >
                        
                                        <th>{{varKoinex?.stats.inr.TRX.currency_short_form}} (Rs)</th>
                                        <td>{{ varKoinex?.stats.inr.TRX.last_traded_price  }}</td>
                                        <td>{{ varKoinex?.stats.inr.TRX.highest_bid }}</td>
                                        <td>{{ varKoinex?.stats.inr.TRX.lowest_ask }}</td>
                                        <td [ngStyle]="{'background-color': varKoinex?.stats.inr.TRX.per_change > 0 ? '#179F10':'#B95B65'}">
                                            {{ varKoinex?.stats.inr.TRX.per_change | number : '1.1-2' }}
                                            
                                        </td>   <!--1digit before and 1 to 2 digit after-->
                                        <td>{{ varKoinex?.stats.inr.TRX.vol_24hrs }}</td>
                                        
                                    </tr>
             
                  
                  </table>
                  
                
                </div>
                

</div>
</div>






<!--  
<h2>KOINEX MIX</h2>


<div style="  overflow-y:scroll;  max-height: 750px !important; border: 1px solid black;">
  <table class="table-wrapper1" >
  

    <thead class="heading">
      <tr> <th><strong>Coins</strong> </th> </tr>
      <tr> <th><strong>Koinex</strong></th> </tr>
      <tr> <th><strong>Coindelta</strong></th></tr>
    </thead>
    <tr>
          <th>BTC-INR</th>
          <th>ETH-INR </th>
          <th>LTC-INR</th>
          <th>XRP-INR</th>
          <th>BCHABC-INR</th>
          <th>BCHSV-INR</th>
          <th>OMG-INR</th>
          <th>NEO-INR</th>
          <th>GAS-INR</th>
          <th>TRX-INR</th>
          <th>REQ-INR</th>
          <th>ZRX-INR</th>
          <th>GNT-INR</th>
          <th>BAT-INR</th>
          <th>AE-INR</th>
          <th>XLM-INR</th>
          
    </tr>
  
   
    <tr>
      <td id="myId">{{varKoinex?.prices.inr.BTC}}</td>
      <td id="myId">{{varKoinex?.prices.inr.ETH}}</td>   
      <td id="myId">{{varKoinex?.prices.inr.LTC}}</td>
      <td id="myId">{{varKoinex?.prices.inr.XRP}}</td>
      <td id="myId">{{varKoinex?.prices.inr.BCHABC}}</td>
      <td id="myId">{{varKoinex?.prices.inr.BCHSV}}</td>
      <td id="myId">{{varKoinex?.prices.inr.OMG}}</td>
      <td id="myId">{{varKoinex?.prices.inr.NEO}}</td>
      <td id="myId">{{varKoinex?.prices.inr.GAS}}</td>
      <td id="myId">{{varKoinex?.prices.inr.TRX}}</td>
      <td id="myId">{{varKoinex?.prices.inr.REQ}}</td>
      <td id="myId">{{varKoinex?.prices.inr.ZRX}}</td>
      <td id="myId">{{varKoinex?.prices.inr.GNT}}</td>
      <td id="myId">{{varKoinex?.prices.inr.BAT}}</td>
      <td id="myId">{{varKoinex?.prices.inr.AE}}</td>
      <td id="myId">{{varKoinex?.prices.inr.XLM}}</td>
      <td id="myId">---</td>
      <td id="myId">---</td>
      <td id="myId">---</td>
      <td id="myId">---</td>

    </tr>


    <tr >     
      <td>{{ varCoindelta[0].Last }}</td> 
      <td>{{ varCoindelta[1].Last }}</td>   
      <td>{{ varCoindelta[2].Last }}</td>   
      <td>{{ varCoindelta[3].Last }}</td>    
      <td>{{ varCoindelta[4].Last }}</td>  
      <td>{{ varCoindelta[5].Last }}</td>    
      <td>{{ varCoindelta[6].Last }}</td>  
      <td>{{ varCoindelta[7].Last }}</td>  
      <td>{{ varCoindelta[8].Last }}</td>  
      <td>{{ varCoindelta[9].Last }}</td>  
      <td>{{ varCoindelta[10].Last }}</td> 
      <td>{{ varCoindelta[11].Last }}</td> 
      <td>{{ varCoindelta[12].Last }}</td> 
      <td>{{ varCoindelta[13].Last }}</td> 
      <td>{{ varCoindelta[14].Last }}</td> 
      <td>{{ varCoindelta[15].Last }}</td> 
      <td>{{ varCoindelta[16].Last }}</td> 
      <td>{{ varCoindelta[17].Last }}</td> 
      <td>{{ varCoindelta[18].Last }}</td> 
      <td>{{ varCoindelta[19].Last }}</td> 


    </tr>

  </table>
  </div>




-->