<app-header class="all"></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
                <app-mixture class="all"></app-mixture>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
                <app-bitstamp class="all"></app-bitstamp>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>



